In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] 
ages.sort()
print(ages)
m1=min(ages)
m2=max(ages)
print("max age is",m2,"\nmin age is",m1)
ages.append(m1)
ages.append(m2)
print(ages)
import math
if(len(ages)%2==0):
    median=ages[len(ages)//2]
else:
    median=(ages[math.floor(len(ages)/2)]+ages[math.ceil(len(ages)/2)])/2
print("median=",median)
sum=0
for i in range(len(ages)):
    sum+=ages[i]
sum=sum/len(ages)
print("average age=",sum)
print("range of ages=",(m2-m1))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
max age is 26
min age is 19
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median= 24
average age= 22.75
range of ages= 7

In [29]:
dog={}
print(type(dog))
dog["name"]="bubby"
dog["color"]="black"
dog["breed"]="german shepard"
dog["legs"]=2
dog["age"]=10
print(dog)
student={}
student["first_name"]="Vamsi"
student["last_name"]="Kalisetty"
student["gender"]="male"
student["age"]=24
student["marital status"]="unmarried"
student["skills"]=["c","python"]
student["country"]="India"
student["city"]="kadapa"
student["address"]="xyz street"
print(student)
print("len of student dictionary",len(student))
print(student.get("skills"))
print("skills type is",type(student.get("skills")))
student["skills"]=["c","python","sql"]
print("after addig new skills",student["skills"])
x=[i for i in student.keys()]
print("list of keys\n",x)
y=[i for i in student.values()]
print("list of values\n",y)

<class 'dict'>
{'name': 'bubby', 'color': 'black', 'breed': 'german shepard', 'legs': 2, 'age': 10}
{'first_name': 'Vamsi', 'last_name': 'Kalisetty', 'gender': 'male', 'age': 24, 'marital status': 'unmarried', 'skills': ['c', 'python'], 'country': 'India', 'city': 'kadapa', 'address': 'xyz street'}
len of student dictionary 9
['c', 'python']
skills type is <class 'list'>
after addig new skills ['c', 'python', 'sql']
list of keys
 ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
list of values
 ['Vamsi', 'Kalisetty', 'male', 24, 'unmarried', ['c', 'python', 'sql'], 'India', 'kadapa', 'xyz street']

In [18]:
bro=("sai","raju","dheeraj")
print("brothers",bro)
sis=("sindhu","siri")
print("sisters",sis)
siblings=bro+sis
print("siblings list",siblings)
print("no of siblings ",len(siblings))
family_members=("TirumalaRao",)+("Aruna",)+siblings
print("family members -",family_members)

brothers ('sai', 'raju', 'dheeraj')
sisters ('sindhu', 'siri')
siblings list ('sai', 'raju', 'dheeraj', 'sindhu', 'siri')
no of siblings  5
family members - ('TirumalaRao', 'Aruna', 'sai', 'raju', 'dheeraj', 'sindhu', 'siri')

In [61]:
r=30
_area_of_circle_=math.pi*(r*r)
print("area of circle is ",_area_of_circle_)
_circum_of_circle=math.pi*2*r
ur=int(input("enter radius of circle"))
print("area of circle= ",math.pi*(ur*ur))

area of circle is  2827.4333882308138

enter radius of circle 9

area of circle=  254.46900494077323

In [69]:
s="I am a teacher and I love to inspire and teach people"
sl=s.split()
sets=set(sl)
print("unique words are ",sets)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
unique words are  {'to', 'am', 'I', 'inspire', 'people', 'teacher', 'love', 'a', 'teach', 'and'}

In [70]:
print("Name\t\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [5]:
radius=10
area=3.14*radius**2
m=f"The area of a circle with radius {radius} is {int(area)} meters square."
print(m)

The area of a circle with radius 10 is 314 meters square.

In [16]:
N=int(input("enter no of students "))
wlb=[]
wkg=[]
for i in range(N):
    c=int(input(f"Enter weight of student no {i+1}in lbs"))
    wlb.append(c)
    wkg.append(round(c*0.453592,2))
print(wlb)
print([f"{num:.2f}" for num in wkg])

enter no of students  4
Enter weight of student no 1in lbs 150
Enter weight of student no 2in lbs 155
Enter weight of student no 3in lbs 145
Enter weight of student no 4in lbs 148

[150, 155, 145, 148]
['68.04', '70.31', '65.77', '67.13']

In [15]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("no of it companies",len(it_companies))
it_companies.add("twitter")
print("after adding twitter",it_companies)
mul={"cts","infosys","accenture"}
it_companies.update(mul)
print("after adding multiple companies -\n",it_companies)
it_companies.remove("cts")
print("after removing company cts",it_companies)
it_companies.discard("cts")
print("after discarding company cts",it_companies)
join=A.union(B)
print("after joining A and B",join)
inter=A.intersection(B)
print("after intersection A and B",inter)
is_subset=A.issubset(B)
print("A is subset of B") if is_subset==True else print("A is not a subset of B")
is_disjoin=A.isdisjoint(B)
print("A is disjoin of B") if is_disjoin==True else print("A is not a disjoin of B")
AwithB=A.union(B)
print("after joining A with B",AwithB)
BwithA=B.union(A)
print("after joining B with A",BwithA)
is_syn=AwithB.symmetric_difference(BwithA)
print("symmentric difference is",is_syn)
print("deleting all sets")
del it_companies,A,B
set_ages=set(ages)
print(type(set_ages))
print("ages ",ages)
print("set_ages ",set_ages)
print("length of ages as list",len(ages))
print("length of ages as set_list",len(set_ages))
if(len(ages)>len(set_ages)):
    print("list_ages is greater than no of ages in set_ages")
elif(len(ages)<len(set_ages)):
    print("list_ages are lower than no of ages in set_ages")
else:
    print("both are equal")

no of it companies 7
after adding twitter {'IBM', 'Apple', 'Amazon', 'twitter', 'Google', 'Facebook', 'Microsoft', 'Oracle'}
after adding multiple companies -
 {'infosys', 'IBM', 'Apple', 'twitter', 'accenture', 'cts', 'Oracle', 'Amazon', 'Google', 'Facebook', 'Microsoft'}
after removing company cts {'infosys', 'IBM', 'Apple', 'twitter', 'accenture', 'Oracle', 'Amazon', 'Google', 'Facebook', 'Microsoft'}
after discarding company cts {'infosys', 'IBM', 'Apple', 'twitter', 'accenture', 'Oracle', 'Amazon', 'Google', 'Facebook', 'Microsoft'}
after joining A and B {19, 20, 22, 24, 25, 26, 27, 28}
after intersection A and B {19, 20, 22, 24, 25, 26}
A is subset of B
A is not a disjoin of B
after joining A with B {19, 20, 22, 24, 25, 26, 27, 28}
after joining B with A {19, 20, 22, 24, 25, 26, 27, 28}
symmentric difference is set()
deleting all sets
<class 'set'>
ages  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
set_ages  {19, 20, 22, 24, 25, 26}
length of ages as list 12
length of ages as set_list 6
list_ages is greater than no of ages in set_ages